header, footer {
    text-align: center;
    font-size: 20px;
    background-color: orangered;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

img {
    width: 100%;
    height: 100px;
    display: inline-block;
}

img:hover {
    opacity: 50%;
}

.meni {
    overflow: hidden;
}

.meni nav {
    float: left;
    width: 100%;
}

.meni nav ul {
    list-style-type: none;
}

.meni nav ul li {
    text-align: center;
    background-color: orangered;
}

.meni ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-size: 20px;
    color: black;
}

.meni ul li a:hover {
    background-color: orange;
    color: white;
    border: 1px solid black;
    font-weight: bold;
}

/* prijavi se i sa nama nauci */

h3 {
    background-color: darkgreen;
    color: white;
    text-align: center;
}

.listap {
    position: relative;
    left: 0px;
   
}

.listap li {
    background-color: rgb(97, 97, 236);
    padding-left: 10px;
      
}

.listac ol li {
    background-color: rgb(240, 102, 102);
}


/* tabela */

table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(230, 127, 30, 0.911);
}

tr, th{
    border: 1px solid black;
    height: 50px;
}

td {
    border: 1px solid black;
}

.hidden {
    visibility: collapse;
}

/* forma */

h4 {
    text-align: center;
    background-color: orangered;
    padding: 10px 0;
}

label, .dugme {
    width: 33.33%;
}

input {
    width: 66.66%;
    position: relative;
    left: 120px;
}


textarea {
    position: relative;
    left: 415px;
}

input:hover {
    background-color: yellow;
}

.motp {
    position: relative;
    bottom: 50px;
}

.dugme {
    background-color: orange;
}

.dugme:hover {
    background-color: darkgreen;
}
